<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>注册</title>
<link rel="stylesheet" href="{{ buildStaticUrl('/SignIn/css/style.css') }}"/>
<body>

<div class="register-container ">
	<h1>Nordic Garden</h1>
	
	<div class="connect">
		<p>Link the world. Share to world.</p>
	</div>
	
	<form action=""  class="register_wrap" method="post" id="registerForm">
		<div>
			<input type="text" name="username" class="username" placeholder="您的用户名" autocomplete="off"/>
		</div>
		<div>
			<input type="text" name="nickname" class="nickname" placeholder="您的昵称" autocomplete="off"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="输入密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div>
			<input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div>
			<input type="email" name="email" class="email" placeholder="输入邮箱地址" oncontextmenu="return false" onpaste="return false" />
		</div>
         <button type="button" class="btn btn-primary block full-width m-b do-register">注 册</button>
	</form>
	<a href="{{ buildUrl('/SignIn') }}">
		<button type="button" class="register-tis">已经有账号？</button>
	</a>



</div>


<script src="{{ buildStaticUrl('/SignIn/js/jquery.min.js') }}"></script>
<script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>
<script src="{{ buildStaticUrl('/js/signin/register.js') }}"></script>

<!--背景图片自动更换-->
<script src="{{ buildStaticUrl('/SignIn/js/supersized.3.2.7.min.js') }}"></script>
<script src="{{ buildStaticUrl('/SignIn/js/supersized-init.js') }}"></script>
<!--表单验证-->
<script src="{{ buildStaticUrl('/SignIn/js/jquery.validate.min.js?var1.14.0') }}"></script>

</body>
</html>