
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-max{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
/*字体*/
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8;
}
.m-opacity-tiny{
    opacity: 0.8;
}
.m-inline-block{
    display: inline-block !important;
}
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-big{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.image-size{
    width: 200px;
    height: 120px;
}
.m-black{
    color: #333;
}
.m-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.m-hide{
    display: none !important;
}

.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}
.m-padded-lr{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.img-size{
    width: 100% !important;
    height: 300px !important;
}
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2) !important;
}
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-hide{
        display: block !important;
    }
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.upload_pic_wrap .pic-each{
  position: relative;
  float: left;
}

.upload_pic_wrap .pic-each img{
  width: 100px;
  height: 60px;
  margin: 0 10px 15px 0;
  float: left;
}

.upload_pic_wrap .pic-each .del{
  position: absolute;
  right: 2px;
  top: -9px;
  color: #e5004f;
  line-height: 1;
  overflow: hidden;
  cursor: pointer;
  font-size: 18px;
  z-index: 2;
}

.upload_wrap {
  width: 98px;
  height: 60px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 54px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.upload_wrap input[type='file']{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}



.btndianzan {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  border: none;

  cursor: pointer;

  transform: translate(-50%, -10%);
  background-color: #FF4D80;
  color: #fff;
  outline: none;
  transition: 0.3s ease;
  box-shadow: 0 3px 10px #F92A82;
}
.btndianzan svg {
  fill: #fff;
}
.btndianzan:hover {
  background-color: #F92A82;
}

