<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="{{ buildStaticUrl('/css/blog/style.css') }}">




</head>
<body>
  <!--导航-->
     <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Nordic Garden</h2>
                <a href="{{ buildUrl('/blog') }}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="{{ buildUrl('/blog/classify') }}"  class="m-item item m-mobile-hide"><i class="idea icon"></i>合集</a>
                  {% if current_user %}
                <a href="{{ buildUrl('/blog/postblog') }}" class="m-item item m-mobile-hide"><i class="edit icon"></i>发布文章</a>
                <a href="{{ buildUrl('/blog/author') }}?author={{ current_user.nickname }}"  class="m-item item m-mobile-hide"><i class="info icon"></i>我的列表</a>
                <a href="{{ buildUrl('/blog/personalinformation') }}?author={{ current_user.nickname }}"  class="m-item item m-mobile-hide"><i class="heart icon"></i>个人信息</a>
                {% endif %}

            </div>
        </div>
            <a href="#" class="ui menu toggle black icon button m-top-right m-hide">
            <i class="sidebar icon"></i>
        </a>

    </nav>

    <!--中间-->
    <div class="m-padded-tb-max m-container-small article-wrap">
          {% if info %}
        <div class="ui container">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="{{ buildStaticUrl('/images/wendy.jpg') }}" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">{{ info.name }}</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i>{{ info.data }}
                    </div>
                    <div class="item">
                        <i class="eye icon"></i>浏览次数:{{ info.hits }}
                    </div>
                     <div class="item">
                         <a href="{{ buildUrl('/blog/biaoqian') }}?bq={{ info.biaoqian }}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">{{ info.biaoqian }}</a>
                     </div>
                </div>
            </div>


                <!--pic-->

            </div>
        <div class="ui attached segment">
            <div class="ui attached m-padded-tb-max segment">



                <!--context-->
                   <div class="ui right aligned basic segment">
                    <div class="ui orange basic label">原创</div>
                </div>

                <h2 class="ui center aligned  header">{{ info.title }}</h2>
                <br>
                <div class="ui right aligned basic segment">
                <input type="text" name="articleid" value="{{ info.articleid }}" style="display:none"></input>
                </div>

                <div id="content" class="">
                    {% if result %}
                    {% for item in result %}
                    <p> {{ item }}</p>
                    {% endfor %}
                    {% endif %}

                </div>

            </div>

        </div>




                 <div class="ui attached segment">
                        <div class="ui middle aligned three column grid">
                            <div class="column">
                                <a href="{{ buildUrl('/blog/details') }}?id={{ lastarticleid  }}" class="ui mini teal basic button">上一篇</a>
                            </div>
                              <div class="middle aligned column">

                                   <div class="ui labeled button do-dianzan" tabindex="0">
                                         <div class="ui red button">
                                       <i class="heart icon"></i> Like
                                         </div>
                                       <a class="ui basic red left pointing label" name="dianzan">
                                       {{ info.redu }}
                                       </a>
                                   </div>


	                          </button>
                            </div>
                            <div class="right aligned column">
                                <a href="{{ buildUrl('/blog/details') }}?id={{ nextarticleid  }}"  class="ui mini teal basic button">下一篇</a>
                            </div>
                        </div>
                    </div>

                 {% endif %}
                  <div id="comment-container" class="ui bottom attached segment">
                <!--留言区域列表-->
                <div class="ui teal segment">
                    <div class="ui threaded comments">
                        <h3 class="ui dividing header">评论</h3>
                          {% if pinglun %}
                    {% for item in pinglun %}
                        <div class="comment">
                            <a class="avatar">
                                <img src="{{ buildStaticUrl('/images/wendy.jpg') }}">
                            </a>
                            <div class="content">
                                <a class="author">{{ item.name }}</a>
                                <div class="metadata">
                                    <span class="date">{{ item.data }}</span>
                                </div>
                                <div class="text">
                                   {{ item.pinglun }}
                                </div>

                            </div>
                        </div>
                           {% endfor %}
                    {% endif %}

                    </div>
                </div>
                <div class="ui form pinglun_wrap">
                    <div class="field">
                        <textarea name="comment" placeholder="请输入..." rows="10"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <input type="text" name="nickname" placeholder="姓名">
                        </div>

                        <div class="field">
                            <button class="ui basic orange button do-pinglun">发布</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
      <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-max">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                    </div>
                </div>
                <div class="four wide column">

                </div>
                <div class="four wide column">

                </div>
                <div class="five wide column">

                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2020  Designed by guagua</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>
  <script src="{{ buildStaticUrl('/js/blog/details.js') }}"></script>
    <script src="{{ buildStaticUrl('/js/blog/verifypsw.js') }}"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide')
        }),


        document.onmousedown = function(){
           if(event.button == 2){
            alert("当前页面不能使用右键！");
                 return false;
             }
         }
    </script>
</body>
</html>