<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>合集</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="{{ buildStaticUrl('/css/blog/style.css') }}">
    <link rel="shortcut icon" href="#">



</head>
<body>
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Nordic Garden</h2>
                <a href="{{ buildUrl('/blog') }}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>合集</a>
                {% if current_user %}
                <a href="{{ buildUrl('/blog/postblog') }}" class="m-item item m-mobile-hide"><i class="edit icon"></i>发布文章</a>
                <a href="{{ buildUrl('/blog/author') }}?author={{ current_user.nickname }}"  class="m-item item m-mobile-hide"><i class="info icon"></i>我的列表</a>
                <a href="{{ buildUrl('/blog/personalinformation') }}?author={{ current_user.nickname }}"  class="m-item item m-mobile-hide"><i class="heart icon"></i>个人信息</a>
                {% endif %}
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-top-right m-hide">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间-->
    <div class="m-padded-tb-max">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左边-->
                <div class="eleven wide column">
                    <!--header-->
                        {% if hejilist %}
                       {% if shuliang %}
                    <div class="ui top segment">
                        <div class="ui middle aligned three column grid">
                            <div class="column">
                                <h3 class="ui teal header">合集列表</h3>

                            </div>
                              <div class="column">

                                <button class="btn btn-w-m btn-outline btn-primary save">新增</button>
                            </div>
                            <div class="right aligned column">
                                共 <h3 class="ui orange header m-inline-block m-text-thin">{{shuliang}}</h3>个
                            </div>
                        </div>
                    </div>
                       {% endif %}
                    <!--博客主题-->
                    <div class="ui attached segment">

                {% for item in hejilist %}
                        <div class="ui m-padded-tb-max vertical segment ">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">{{ item.heji }}</h3>

                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                 <div class="item">
                                                    <img src="{{ buildStaticUrl(item.userheadportraitadress) }}"alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">{{ item.name }}</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>{{ item.data }}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                     <p>{{ item.jianjie }}</p>
                                      <div class="right aligned five wide column">
                                            <a href="{{ buildUrl('/blog/info') }}?id={{ item.hejiID  }}" target="_blank" class="ui teal basic label">合集内容</a>
                                        </div>
                                </div>

                                 <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="{{ buildStaticUrl(item.headportraitadress) }}" alt="" class="ui rounded image image-size">
                                    </a>
                                </div>
                            </div>
                        </div>


                    {% endfor %}
                     {% endif %}

                    </div>
                    <!--博客底部-->

                </div>
                <!--右边-->
                <div class="five wide column">

                    <!--标签-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#">more >></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                                {% if biaoqianlist %}
                               {% for item in biaoqianlist %}
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">{{ item.biaoqian }}</a>
                       {% endfor %}
                     {% endif %}
                        </div>
                    </div>
                       <!--最新推荐-->
                    <div class="ui segment">
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>

                         {% if tuijianlist %}
                               {% for item in tuijianlist %}
                        <div class="ui segment">
                            <a href="{{ buildUrl('/blog/details') }}?id={{ item.articleid  }}" target="_blank" class="m-black m-text-thin">{{ item.title }}</a>
                        </div>
                         {% endfor %}
                         {% endif %}

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-max">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="image/wechat.jpg" class="ui rounded image" alt=""style="width: 100px;">
                        </div>
                    </div>
                </div>

                <div class="six wide column">

                </div>
                <div class="six wide column">

                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2020  Designed by guagua</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide')
        })

        // document.onmousedown = function(){
        //     if(event.button == 2){
        //         alert("当前页面不能使用右键！");
        //         return false;
        //     }
        // }
    </script>


</body>
</html>