<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布文章</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="{{ buildStaticUrl('/css/blog/style.css') }}">
    <link rel="shortcut icon" href="#">
</head>
<body>
  <!--导航-->
     <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Nordic Garden</h2>
                <a href="{{ buildUrl('/blog') }}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="{{ buildUrl('/blog/classify') }}"  class="m-item item m-mobile-hide"><i class="idea icon"></i>合集</a>
                  {% if current_user %}
                <a href="{{ buildUrl('/blog/postblog') }}" class="m-item item m-mobile-hide"><i class="edit icon"></i>发布文章</a>
                <a href="{{ buildUrl('/blog/author') }}?author={{ current_user.nickname }}"  class="m-item item m-mobile-hide"><i class="info icon"></i>我的列表</a>
                <a href="{{ buildUrl('/blog/personalinformation') }}?author={{ current_user.nickname }}"  class="m-item item m-mobile-hide"><i class="heart icon"></i>个人信息</a>
                {% endif %}
            </div>
        </div>

    </nav>

    <!--中间-->
    <div class="m-padded-tb-max m-container-small">

        <div class="ui container blogpost_wrap">


            <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                     <label class="col-lg-2 control-label">名称:</label>
                      </div>
                      <div class="item">


                          <input type="text" name="articleid" value="{{ info.articleid }}" style="display:none"></input>

                          <div class="ui input">
                           <input type="text" placeholder="请输入文名..."  value="{{ info.title }}" name="name" >
                         </div>

                      </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                     <label class="col-lg-2 control-label">标签:</label>
                      </div>
                      <div class="item">
                        <select name="biaoqian_id" class="form-control select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value="0">请选择分类</option>
                       {% for item in biaoqianlist %}
                           <option value="{{ item.biaoqianID }}">{{ item.biaoqian }}</option>
                       {% endfor %}
                    </select>
                      </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                     <label class="col-lg-2 control-label">合集:</label>
                      </div>
                      <div class="item">
                          <select name="heji_id" class="form-control select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value="0">请选择分类</option>

                       {% for item in hejilist %}
                           <option value="{{ item.hejiID }}" {%  if item.hejiID == info.hejiID %} selected {% endif %}>{{ item.heji }}</option>
                       {% endfor %}

                    </select>
                      </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                     <label class="col-lg-2 control-label">密码:</label>
                      </div>
                      <div class="item">
                          <div class="ui input">
                           <input type="text" placeholder="请输入你的密码..."  value="{{ info.psw }}" name="psw" >
                         </div>
                      </div>
                </div>
            </div>
              <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                     <label class="col-lg-2 control-label">简介:</label>
                      </div>
                      <div class="item">
                      <textarea  id=""  name="jianjie"  style="height: 50px;width: 300px">{{ info.jianji }}</textarea>
                      </div>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                        <div class="col-lg-10">
                    <textarea  id="editor"  name="summary" style="height: 300px;"></textarea>
                           </div>
                      </div>
                </div>
            </div>

              <div class="ui attached segment">
                <div class="ui horizontal link list">
                      <div class="item">
                             <button class="btn btn-w-m btn-outline btn-primary save">发布</button>

                      </div>
                </div>
            </div>






        </div>


    </div>
      <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-max">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                    </div>
                </div>
                <div class="four wide column">

                </div>
                <div class="four wide column">

                </div>
                <div class="five wide column">

                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2020  Designed by guagua</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>
    <script src="{{ buildStaticUrl('/js/blog/postblog.js') }}"></script>




<script src="{{ buildStaticUrl( '/plugins/ueditor/ueditor.config.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/ueditor/ueditor.all.min.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/ueditor/lang/zh-cn/zh-cn.js' ) }}"></script>

<script src="{{ buildStaticUrl( '/plugins/select2/select2.pinyin.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/zh-CN.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/pinyin.core.js' ) }}"></script>




    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide')
        })



    </script>
</body>
</html>